/* light color schema */
$primaryTextColor:black;
$primaryBackgroundColor: white;
$accentColor:  #505d6f;

$primaryInputBorderLight: #ced4da;
$primaryInputBgLight: white;
$buttonSuccessBgLight: #00d99f;
