@import './light.variables.scss';
@import './dark.variables.scss';

/* common color schema */
$backgroundGrey: #f7f7f7;
$blue: #525aee;
$blueHover: #5c6fac;
$red: #ff6f75;
$green: #00d99f;
$grey: #9b9b9b;
$borderGrey: #e0e0e0;
$black: #505d6f;
$white: #fff;


html {
    --color-primary-text: #{$primaryTextColor};
    --color-primary-background: #{$primaryBackgroundColor};
    --color-accent: #{$accentColor};
    --color-primary-border: #{$borderGrey};
    --color-green: #{$green};
    --color-tab-accent: #{$backgroundGrey};
    --color-primary-input-border: #{$primaryInputBorderLight};
    --color-primary-input-background: #{$primaryInputBgLight};
    --color-button-success-bg: #{$buttonSuccessBgLight};
}

html.dark {
    --color-primary-text: #{$primaryTextDarkColor};
    --color-primary-background: #{$primaryBackgroundDarkColor};
    --color-tab-primary-background: #{$primaryBackgroundDarkColor};
    --color-accent: #{$accentDarkColor};
    --color-tab-accent: #{$accentDarkColor};
    --color-primary-border: #{$primaryBorderDark};
    --color-green: #{$green};
    --color-primary-input-border: #{$primaryInputBorderDark};
    --color-primary-input-background: #{$primaryInputBgDark};
    --color-button-success-bg: #{$buttonSuccessBgDark};
}
