@import '../../styles/variables.scss';

.trade {
    .form-title {
        color: var(--color-primary-text);
        font-size: 16px;
    }
    .list {
        margin-top: 8px;
        .item {
            padding: 2px 0;
        }
    }
    .input-group {
        display: flex;
        align-items: center;
        position: relative;
        .unit {
            position: absolute;
            right: 12px;
        }
    }
    form {
        .form-group {
            .form-control {
                background-color: var(--color-primary-input-background);
                border-color: var(--color-primary-input-border);
                color: var(--color-primary-text);
            }
        }
        .form-control.btn-success {
            background-color: var(--color-button-success-bg);
        }
    }
    .tab-button {
        background-color: var(--color-tab-primary-background);
    }
    .tab-button.active {
        background-color: var(--color-tab-accent); 
    }
}
